In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
df=pd.read_csv("https://www.moeasmea.gov.tw/files/559/70C1CE33-8E24-4959-A0FA-5606CCA05478")

In [24]:
df1=df.drop(df[df.行業別=="總計"].index)

In [25]:
df1

      年度              行業別  統計項目  單位    全部  中小企業
1   2017         農、林、漁、牧業  就業人數  千人   557   551
2   2017         礦業及土石採取業  就業人數  千人     4     3
3   2017              製造業  就業人數  千人  3045  2218
4   2017         電力及燃氣供應業  就業人數  千人    30     5
5   2017       用水供應及污染整治業  就業人數  千人    82    35
6   2017              營造業  就業人數  千人   901   886
7   2017           批發及零售業  就業人數  千人  1875  1801
8   2017           運輸及倉儲業  就業人數  千人   443   315
9   2017           住宿及餐飲業  就業人數  千人   832   810
10  2017         資訊及通訊傳播業  就業人數  千人   253   187
11  2017           金融及保險業  就業人數  千人   429   330
12  2017             不動產業  就業人數  千人   103   100
13  2017      專業、科學及技術服務業  就業人數  千人   372   298
14  2017            支援服務業  就業人數  千人   292   267
15  2017  公共行政及國防；強制性社會安全  就業人數  千人   373     0
16  2017            教育服務業  就業人數  千人   652   239
17  2017     醫療保健及社會工作服務業  就業人數  千人   451   230
18  2017      藝術、娛樂及休閒服務業  就業人數  千人   106    85
19  2017            其他服務業  就業人數  千人   551   543

### 中小企業佔比

In [26]:
df1["中小企業佔比"]=df.中小企業/df.全部

In [27]:
df1

      年度              行業別  統計項目  單位    全部  中小企業    中小企業佔比
1   2017         農、林、漁、牧業  就業人數  千人   557   551  0.989228
2   2017         礦業及土石採取業  就業人數  千人     4     3  0.750000
3   2017              製造業  就業人數  千人  3045  2218  0.728407
4   2017         電力及燃氣供應業  就業人數  千人    30     5  0.166667
5   2017       用水供應及污染整治業  就業人數  千人    82    35  0.426829
6   2017              營造業  就業人數  千人   901   886  0.983352
7   2017           批發及零售業  就業人數  千人  1875  1801  0.960533
8   2017           運輸及倉儲業  就業人數  千人   443   315  0.711061
9   2017           住宿及餐飲業  就業人數  千人   832   810  0.973558
10  2017         資訊及通訊傳播業  就業人數  千人   253   187  0.739130
11  2017           金融及保險業  就業人數  千人   429   330  0.769231
12  2017             不動產業  就業人數  千人   103   100  0.970874
13  2017      專業、科學及技術服務業  就業人數  千人   372   298  0.801075
14  2017            支援服務業  就業人數  千人   292   267  0.914384
15  2017  公共行政及國防；強制性社會安全  就業人數  千人   373     0  0.000000
16  2017            教育服務業  就業人數  千人   652   239  0.366564
17  2017     醫療保健及社會工作服務業  就業人數  千人   451   230  0.509978
18  2017      藝術、娛樂及休閒服務業  就業人數  千人   106    85  0.801887
19  2017            其他服務業  就業人數  千人   551   543  0.985481

### 排序(由高至低)

In [29]:
df1=df1.sort_values(by=["中小企業佔比"],ascending=False)

In [30]:
df1

      年度              行業別  統計項目  單位    全部  中小企業    中小企業佔比
1   2017         農、林、漁、牧業  就業人數  千人   557   551  0.989228
19  2017            其他服務業  就業人數  千人   551   543  0.985481
6   2017              營造業  就業人數  千人   901   886  0.983352
9   2017           住宿及餐飲業  就業人數  千人   832   810  0.973558
12  2017             不動產業  就業人數  千人   103   100  0.970874
7   2017           批發及零售業  就業人數  千人  1875  1801  0.960533
14  2017            支援服務業  就業人數  千人   292   267  0.914384
18  2017      藝術、娛樂及休閒服務業  就業人數  千人   106    85  0.801887
13  2017      專業、科學及技術服務業  就業人數  千人   372   298  0.801075
11  2017           金融及保險業  就業人數  千人   429   330  0.769231
2   2017         礦業及土石採取業  就業人數  千人     4     3  0.750000
10  2017         資訊及通訊傳播業  就業人數  千人   253   187  0.739130
3   2017              製造業  就業人數  千人  3045  2218  0.728407
8   2017           運輸及倉儲業  就業人數  千人   443   315  0.711061
17  2017     醫療保健及社會工作服務業  就業人數  千人   451   230  0.509978
5   2017       用水供應及污染整治業  就業人數  千人    82    35  0.426829
16  2017            教育服務業  就業人數  千人   652   239  0.366564
4   2017         電力及燃氣供應業  就業人數  千人    30     5  0.166667
15  2017  公共行政及國防；強制性社會安全  就業人數  千人   373     0  0.000000

### 佔比前五高

In [31]:
df1.head()

      年度       行業別  統計項目  單位   全部  中小企業    中小企業佔比
1   2017  農、林、漁、牧業  就業人數  千人  557   551  0.989228
19  2017     其他服務業  就業人數  千人  551   543  0.985481
6   2017       營造業  就業人數  千人  901   886  0.983352
9   2017    住宿及餐飲業  就業人數  千人  832   810  0.973558
12  2017      不動產業  就業人數  千人  103   100  0.970874

### 佔比前五低

In [32]:
df1.tail()

      年度              行業別  統計項目  單位   全部  中小企業    中小企業佔比
17  2017     醫療保健及社會工作服務業  就業人數  千人  451   230  0.509978
5   2017       用水供應及污染整治業  就業人數  千人   82    35  0.426829
16  2017            教育服務業  就業人數  千人  652   239  0.366564
4   2017         電力及燃氣供應業  就業人數  千人   30     5  0.166667
15  2017  公共行政及國防；強制性社會安全  就業人數  千人  373     0  0.000000

### 各行業企業數

In [33]:
df2=df1.sort_values(by=["全部"],ascending=False)

In [35]:
df2.head()

      年度     行業別  統計項目  單位    全部  中小企業    中小企業佔比
3   2017     製造業  就業人數  千人  3045  2218  0.728407
7   2017  批發及零售業  就業人數  千人  1875  1801  0.960533
6   2017     營造業  就業人數  千人   901   886  0.983352
9   2017  住宿及餐飲業  就業人數  千人   832   810  0.973558
16  2017   教育服務業  就業人數  千人   652   239  0.366564